<div class="d-flex flex-column flex-shrink-0 px-3 text-white admin-sidebar">
    <div class="d-flex justify-content-center py-3">
        <img src="/images/img_9.png" style="width: 150px; height: 150px">
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="mb-2">
            <a href="/admin/dashboard" class="nav-link text-white">
                <i class="bi bi-speedometer2 me-2"></i>
                Dashboard
            </a>
        </li>
        <li class="mb-2">
            <a href="/admin/appointments/page/1" class="nav-link text-white">
                <i class="bi bi-calendar3 me-2"></i>
                Appointments
            </a>
        </li>
        <li class="mb-2">
            <a href="/admin/pets/page/1" class="nav-link text-white">
                <i class="bi bi-card-list me-2"></i>
                Pets
            </a>
        </li>
        <li class="mb-2">
            <a href="/admin/pet-shop/page/1" class="nav-link text-white">
                <i class="bi bi-shop me-2"></i>
                Pet Shop
            </a>
        </li>
    </ul>
</div>