<footer class="text-white" style="background-color: #2D3E4B;">
  <!-- Grid container -->
  <div class="container pt-4">
    <div class="row text-left justify-content-center m-5">
      <div class="col-4">
        <h5 class="border-bottom pb-2" style="width: max-content">About us</h5>
        <ul class="list-unstyled text-left my-3" style="font-size: smaller">
          <li class="my-3">FAQs</li>
          <li class="my-3">Events</li>
          <li class="my-3">Services</li>
        </ul>
      </div>
      <div class="col-4">
        <h5 class="border-bottom pb-2" style="width: max-content">Quick links</h5>
        <ul class="list-unstyled text-left my-3"  style="font-size: smaller">
          <li class="my-3">Home</li>
          <li class="my-3">Products</li>
          <li class="my-3">Events</li>
        </ul>
      </div>
      <div class="col-4">
        <h5 class="border-bottom pb-2" style="width: max-content">Contact</h5>
        <ul class="list-unstyled text-left my-3"  style="font-size: smaller">
          <li class="my-3">Phone: +24 0938 9989</li>
          <li class="my-3">Mail: ecosmetics@mail.com</li>
          <li class="my-3">Address: st. Ecosmetics no.1</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(107,107,107,0.14);">
    © 2023 Copyright: <a>Stefanija Cvetkovska</a>
  </div>
  <!-- Copyright -->
</footer>