<div th:if="${totalPages > 1}">
    <div class="row justify-content-center">
        <div class="col-2 border-p">
            <div class="page-item" th:if="${currentPage > 1}">
                <a th:if="${category != null}"
                   th:href="@{'/admin/pet-shop/page/1?category=' + ${category}}">
                    First
                </a>
                <a th:if="${species != null}"
                   th:href="@{'/admin/pet-shop/page/1?species=' + ${species}}">
                    First
                </a>
                <a th:if="${category == null && species == null}"
                   th:href="@{'/admin/pet-shop/page/1'}">
                    First
                </a>
            </div>
            <span th:unless="${currentPage > 1}">First</span>
        </div>

        <div class="col-2 border-p">
            <div class="page-item" th:if="${currentPage > 1}">
                <a th:if="${category != null}"
                   th:href="@{'/admin/pet-shop/page/' + ${currentPage - 1} + '?category=' + ${category}}">
                    Prev
                </a>
                <a th:if="${species != null}"
                   th:href="@{'/admin/pet-shop/page/' + ${currentPage - 1} + '?species=' + ${species}}">
                    Prev
                </a>
                <a th:if="${category == null && species == null}"
                   th:href="@{'/admin/pet-shop/page/' + ${currentPage - 1}}">
                    Prev
                </a>
            </div>
            <span th:unless="${currentPage > 1}">Prev</span>
        </div>

        <div class="col-3 text-center border-p">
            <span class="page-number">
                <span th:text="${currentPage + ' ' + 'of' + ' ' + totalPages}"></span>
            </span>
        </div>

        <div class="col-2 border-p">
            <div class="page-item" th:if="${currentPage < totalPages}">
                <a th:if="${category != null}"
                   th:href="@{'/admin/pet-shop/page/' + ${currentPage + 1} + '?category=' + ${category}}">
                    Next
                </a>
                <a th:if="${species != null}"
                   th:href="@{'/admin/pet-shop/page/' + ${currentPage + 1} + '?species=' + ${species}}">
                    Next
                </a>
                <a th:if="${category == null && species == null}"
                   th:href="@{'/admin/pet-shop/page/' + ${currentPage + 1}}">
                    Next
                </a>
            </div>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-2 border-p">
            <div class="page-item" th:if="${currentPage < totalPages}">
                <a th:if="${category != null}"
                   th:href="@{'/admin/pet-shop/page/' + ${totalPages} + '?category=' + ${category}}">
                    Last
                </a>
                <a th:if="${species != null}"
                   th:href="@{'/admin/pet-shop/page/' + ${totalPages} + '?species=' + ${species}}">
                    Last
                </a>
                <a th:if="${category == null && species == null}"
                   th:href="@{'/admin/pet-shop/page/' + ${totalPages}}">
                    Last
                </a>
            </div>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>