<div th:if="${totalPages > 1}">
    <div class="row justify-content-center">
        <div class="col-2 border-p">
            <div class="page-item" th:if="${currentPage > 1}">
                <a th:if="${status != null}"
                   th:href="@{'/user/profile/bookings/page/1?status=' + ${status}}">
                    First
                </a>
                <a th:if="${date != null}"
                   th:href="@{'/user/profile/bookings/page/1?date=' + ${date}}">
                    First
                </a>
                <a th:if="${status == null && date == null}"
                   th:href="@{'/user/profile/bookings/page/1'}">
                    First
                </a>
            </div>
            <span th:unless="${currentPage > 1}">First</span>
        </div>

        <div class="col-2 border-p">
            <div class="page-item" th:if="${currentPage > 1}">
                <a th:if="${status != null}"
                   th:href="@{'/user/profile/bookings/page/' + ${currentPage - 1} + '?status=' + ${status}}">
                    Prev
                </a>
                <a th:if="${date != null}"
                   th:href="@{'/user/profile/bookings/page/' + ${currentPage - 1} + '?date=' + ${date}}">
                    Prev
                </a>
                <a th:if="${status == null && date == null}"
                   th:href="@{'/user/profile/bookings/page/' + ${currentPage - 1}}">
                    Prev
                </a>
            </div>
            <span th:unless="${currentPage > 1}">Prev</span>
        </div>

        <div class="col-3 text-center border-p">
            <span class="page-number">
                <span th:text="${currentPage + ' ' + 'of' + ' ' + totalPages}"></span>
            </span>
        </div>

        <div class="col-2 border-p">
            <div class="page-item" th:if="${currentPage < totalPages}">
                <a th:if="${status != null}"
                   th:href="@{'/user/profile/bookings/page/' + ${currentPage + 1} + '?status=' + ${status}}">
                    Next
                </a>
                <a th:if="${date != null}"
                   th:href="@{'/user/profile/bookings/page/' + ${currentPage + 1} + '?date=' + ${date}}">
                    Next
                </a>
                <a th:if="${status == null && date == null}"
                   th:href="@{'/user/profile/bookings/page/' + ${currentPage + 1}}">
                    Next
                </a>
            </div>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-2 border-p">
            <div class="page-item" th:if="${currentPage < totalPages}">
                <a th:if="${status != null}"
                   th:href="@{'/user/profile/bookings/page/' + ${totalPages} + '?status=' + ${status}}">
                    Last
                </a>
                <a th:if="${date != null}"
                   th:href="@{'/user/profile/bookings/page/' + ${totalPages} + '?date=' + ${date}}">
                    Last
                </a>
                <a th:if="${status == null && date == null}"
                   th:href="@{'/user/profile/bookings/page/' + ${totalPages}}">
                    Last
                </a>
            </div>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>