<div class="container my-5 py-5">
    <div class="row">
        <div class="col-9 mt-3">
            <div class="m-3 p-4 shadow d-flex bg-secondary justify-content-between">
                <span class="text-white fw-bold h4 mb-0">Products in cart</span>
                <a class="fw-bold text-white text-decoration-none" href=/products/page/1>
                    <i class="fas fa-angle-left"></i>
                    Continue shopping
                </a>
            </div>
            <!-- Item-->
            <div th:each="product: ${products}" class="m-3 p-4 d-flex justify-content-between shadow">
                <div class="d-flex">
                    <img th:src="${product.image}" width="180" height="180" alt=""/>
                    <div class="ms-4 pt-3">
                        <h4 th:text="${product.name}"
                            class="fw-bold"></h4>
                        <div th:text="'Category: ' + ${product.category}"
                             class="text-muted mr-2"></div>
                        <div th:text="'Species: ' + ${product.species}" class="text-muted mr-2"></div>
                        <h3 th:text="'$' +${product.price}" class="text-success pt-4"></h3>
                    </div>
                </div>


                <div style="max-width: 10rem;">
                    <div>
                        <form th:method="POST" th:action="@{'/cart/remove-product/{id}' (id=${product.id})}">
                            <button class="btn btn-danger btn-sm" type="submit">
                                Remove item
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:if="${products.size() == 0}" class="alert alert-info" role="alert">
                Your shopping cart is empty!
            </div>
        </div>
        <!-- Sidebar-->
        <div class="col-3 mt-3 pt-3">
            <div class="shadow">
                <h4 class="p-4 text-white bg-success text-center">Subtotal</h4>
                <div th:text="'$' + ${total}" class="h3 text-center py-5"></div>
                <div class="d-grid gap-2" th:if="${products.size() > 0}">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Proceed to checkout
                    </button>

                    <!-- Modal -->
                    <div class="modal fade"
                         id="staticBackdrop"
                         data-bs-backdrop="static"
                         data-bs-keyboard="false"
                         tabindex="-1"
                         aria-labelledby="staticBackdropLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Order Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:method="POST"
                                          th:action="@{'/order/purchase/{cart}' (cart=${cart.id})}"
                                          class="form-horizontal">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text"
                                                   class="form-control"
                                                   th:value="${first}"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label>Surname</label>
                                            <input type="text"
                                                   class="form-control"
                                                   th:value="${last}"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input type="text"
                                                   class="form-control"
                                                   th:value="${email}"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="address"
                                                   th:value="${address}"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="phone"
                                                   th:value="${phone}"
                                                   required>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Submit order</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>